* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 1.1em;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
header {
    background-color:rgb(72, 72, 255);
    text-align: center;
}
main {
    background-color: rgb(140, 140, 255);
}
.koral1 {
    padding: 20px 50px;
}
.koral2 {
    text-align: center;
    padding: 0;
}
.koral3 {
    text-align: center;
    padding: 0px 20px;
}
.op {
    font-size: 1.1em;
    text-align: center;
    padding: 0;
}
footer {
    background-color:rgb(106, 255, 255);
    padding: 10px 50px;
}
#about {
    background-color: rgb(140, 140, 255);
    padding: 10px 50px;
    text-align: center;
}
#articles {
    background-color: rgb(101, 101, 255);
    padding: 10px 50px;
}
p {
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 10px;
}
h1 {
    text-transform: uppercase;
    color: aquamarine;
    font-size: 2.5em;
    font-style: italic;
}
h2 {
    text-decoration: overline;
    font-size: 1.6rem;
    text-align: center;
}
ul {
    font-size: 1.4em;
    padding: 10px 70px;
}
nav ul {
    padding: 0;
}
a {
    color: rgb(0, 0, 0);
}
ol {
    font-size: 1.4em;
}
.start {
    font-size: 1.8em;
    text-align: center;
}
.base dl {
    margin: 0 0 5px 0;
    padding: 0px 50px;
    font-size: 1.3em;
}
.base dt {
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0px 50px;
    font-size: 1.3em;
}
.base dd {
    margin: 0 0 15px 0;
    padding: 5px 50px;
    font-size: 1.2em;
}
blockquote {
    padding: 10px 50px;
    font-size: 1.5em;
}
.citata {
    font-size: 1.1em;
    padding: 0px 50px;
}
figcaption {
    text-align: center;
}
.bord1 img {
    border: dashed blue;
}
.bord2 img {
    border-radius: 20%;
}
.bord3 img {
    box-shadow: 10px 5px 5px rgb(26, 26, 26);
}
a:hover{
    color: black;
    text-decoration: underline;
}
a:focus{
    font-size: large;
}
#enot:hover{
    color:#f00;
    text-decoration:dashed;
}
#enot:focus{
    font-style: oblique;
}
#xyz:hover{
    color:brown;
    text-decoration: double;
}
#xyz:hover{
    flex:content ;
}
li:nth-child(even){
    background-color: aliceblue;
}
li:nth-child(odd){
    background-color: aquamarine;
}
#content p:first-line {
    letter-spacing: 3px;
}
#about{
    font-weight: normal;
    background-color:bisque;
}
.social-icon {
    border: 3px solid rgb(54, 54, 255);
}
figcaption+p {
    margin-top: 100px;
}
.alarm::after {
    content: "!Важно!";
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-right: 0.5em;
    border: 1px solid rgb(146, 58, 146);
    background-color: rgb(255, 202, 202);
    color: rgb(93, 155, 0);
    font-weight: bold; 
}
.check-table {
    border: solid 5px rgb(0, 128, 179);
    width: 300px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
.check-table td,
.check-table th {
    padding: 5px 10px;
    border: solid 1px black;
}
.check-table tr:nth-child(even) {
    font-weight: bold;
    color:  rgb(219, 219, 219);
}
.check-table td:last-child, 
.check-table th:last-child {
    background-color: rgb(0, 206, 206);
    text-align: center;
}
th {
    color: rgb(41, 92, 75);
}
#contact-form {
    text-align: center;
}
.ava {
    text-align: center;
}
.ava img {
    border-radius: 60%;
}
#contact-form p {
    text-align: center;
    font-size: 15px;
}
#contact-form input[type="text"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#contact-form input[type="email"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#contact-form input[type="tel"] {
    background-color: #eddfff;
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
}
#contact-form input[type="date"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#contact-form textarea {
    height: 150px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#topic {
    height: 30px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#contact-form input[type="submit"] {
    background-color: #824ec5;
    padding: 5px;
    text-transform: uppercase;
}
#contact-form input[type="submit"]:hover {
    background-color: #b098cf;
}
#contact-form #topic {
    width: 250px;
} 